In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('SMSSpamCollection.tsv',sep='\t',names=['type','text'])

In [6]:
df.head()

   type                                               text
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5568 entries, 0 to 5567
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   type    5568 non-null   object
 1   text    5568 non-null   object
dtypes: object(2)
memory usage: 87.1+ KB

In [8]:
df.groupby('type').describe()

      text
     count unique                                                top freq
type
ham   4822   4513                             Sorry, I'll call later   30
spam   746    652  Please call our customer service representativ...    4

In [9]:
import nltk

In [14]:
df['text'].str.len().max()

910

In [16]:
msg0 = df['text'][df['text'].str.len()==df['text'].str.len().max()].values[0]
msg0

"For me the love should start with attraction.i should feel that I need her every time around me.she should be the first thing which comes in my thoughts.I would start the day and end it with her.she should be there every time I dream.love will be then when my every breath has her name.my life should happen around her.my life will be named to her.I would cry for her.will give all my happiness and take all her sorrows.I will be ready to fight with anyone for her.I will be in love when I will be doing the craziest things for her.love will be when I don't have to proove anyone that my girl is the most beautiful lady on the whole planet.I will always be singing praises for her.love will be when I start up making chicken curry and end up makiing sambar.life will be the most beautiful then.will get every morning and thank god for the day because she is with me.I would like to say a lot..will tell later.."

In [19]:
for s in nltk.sent_tokenize(msg0.replace('.','. ')):
    words = nltk.word_tokenize(s)
    print(words)

['For', 'me', 'the', 'love', 'should', 'start', 'with', 'attraction', '.']
['i', 'should', 'feel', 'that', 'I', 'need', 'her', 'every', 'time', 'around', 'me', '.']
['she', 'should', 'be', 'the', 'first', 'thing', 'which', 'comes', 'in', 'my', 'thoughts', '.']
['I', 'would', 'start', 'the', 'day', 'and', 'end', 'it', 'with', 'her', '.']
['she', 'should', 'be', 'there', 'every', 'time', 'I', 'dream', '.']
['love', 'will', 'be', 'then', 'when', 'my', 'every', 'breath', 'has', 'her', 'name', '.']
['my', 'life', 'should', 'happen', 'around', 'her', '.']
['my', 'life', 'will', 'be', 'named', 'to', 'her', '.']
['I', 'would', 'cry', 'for', 'her', '.']
['will', 'give', 'all', 'my', 'happiness', 'and', 'take', 'all', 'her', 'sorrows', '.']
['I', 'will', 'be', 'ready', 'to', 'fight', 'with', 'anyone', 'for', 'her', '.']
['I', 'will', 'be', 'in', 'love', 'when', 'I', 'will', 'be', 'doing', 'the', 'craziest', 'things', 'for', 'her', '.']
['love', 'will', 'be', 'when', 'I', 'do', "n't", 'have', 'to', 'proove', 'anyone', 'that', 'my', 'girl', 'is', 'the', 'most', 'beautiful', 'lady', 'on', 'the', 'whole', 'planet', '.']
['I', 'will', 'always', 'be', 'singing', 'praises', 'for', 'her', '.']
['love', 'will', 'be', 'when', 'I', 'start', 'up', 'making', 'chicken', 'curry', 'and', 'end', 'up', 'makiing', 'sambar', '.']
['life', 'will', 'be', 'the', 'most', 'beautiful', 'then', '.']
['will', 'get', 'every', 'morning', 'and', 'thank', 'god', 'for', 'the', 'day', 'because', 'she', 'is', 'with', 'me', '.']
['I', 'would', 'like', 'to', 'say', 'a', 'lot', '.']
['.']
['will', 'tell', 'later', '.']
['.']

In [20]:
from nltk.corpus import stopwords

In [22]:
sw = stopwords.words('english')

In [23]:
sw

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [24]:
from string import punctuation as punc

In [25]:
punc

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [29]:
def process_text(t):
    words = []
    for sent in nltk.sent_tokenize(t.lower()):
        ws = nltk.word_tokenize(sent)
        words += [w for w in ws if w.isalpha() and w not in sw]
    return ' '.join(words)

In [30]:
msg0

"For me the love should start with attraction.i should feel that I need her every time around me.she should be the first thing which comes in my thoughts.I would start the day and end it with her.she should be there every time I dream.love will be then when my every breath has her name.my life should happen around her.my life will be named to her.I would cry for her.will give all my happiness and take all her sorrows.I will be ready to fight with anyone for her.I will be in love when I will be doing the craziest things for her.love will be when I don't have to proove anyone that my girl is the most beautiful lady on the whole planet.I will always be singing praises for her.love will be when I start up making chicken curry and end up makiing sambar.life will be the most beautiful then.will get every morning and thank god for the day because she is with me.I would like to say a lot..will tell later.."

In [31]:
process_text(msg0)

'love start feel need every time around first thing comes would start day end every time every breath life happen around life named would cry give happiness take ready fight anyone love craziest things proove anyone girl beautiful lady whole always singing praises start making chicken curry end makiing beautiful get every morning thank god day would like say lot tell later'

In [35]:
word_list = []
word_list.append(process_text(msg0))
word_list.append(process_text(df['text'][1003]))
word_list.append(process_text(df['text'][4005]))
word_list.append(process_text(df['text'][619]))

In [36]:
word_list

['love start feel need every time around first thing comes would start day end every time every breath life happen around life named would cry give happiness take ready fight anyone love craziest things proove anyone girl beautiful lady whole always singing praises start making chicken curry end makiing beautiful get every morning thank god day would like say lot tell later',
 'panasonic bluetoothhdset free nokia free motorola free doublemins doubletxt orange contract call call',
 'forgot working today wan na chat things ok drop text free bored etc ring hope well nose essay xx',
 'make sure alex knows birthday fifteen minutes far concerned']

In [32]:
from sklearn.feature_extraction.text import CountVectorizer

In [33]:
cv = CountVectorizer()

In [37]:
bow = cv.fit_transform(word_list)

In [38]:
bow

<4x83 sparse matrix of type '<class 'numpy.int64'>'
	with 85 stored elements in Compressed Sparse Row format>

In [39]:
uniword = cv.get_feature_names()
uniword

['alex',
 'always',
 'anyone',
 'around',
 'beautiful',
 'birthday',
 'bluetoothhdset',
 'bored',
 'breath',
 'call',
 'chat',
 'chicken',
 'comes',
 'concerned',
 'contract',
 'craziest',
 'cry',
 'curry',
 'day',
 'doublemins',
 'doubletxt',
 'drop',
 'end',
 'essay',
 'etc',
 'every',
 'far',
 'feel',
 'fifteen',
 'fight',
 'first',
 'forgot',
 'free',
 'get',
 'girl',
 'give',
 'god',
 'happen',
 'happiness',
 'hope',
 'knows',
 'lady',
 'later',
 'life',
 'like',
 'lot',
 'love',
 'make',
 'makiing',
 'making',
 'minutes',
 'morning',
 'motorola',
 'na',
 'named',
 'need',
 'nokia',
 'nose',
 'ok',
 'orange',
 'panasonic',
 'praises',
 'proove',
 'ready',
 'ring',
 'say',
 'singing',
 'start',
 'sure',
 'take',
 'tell',
 'text',
 'thank',
 'thing',
 'things',
 'time',
 'today',
 'wan',
 'well',
 'whole',
 'working',
 'would',
 'xx']

In [41]:
bow_df = pd.DataFrame(bow.toarray(),columns=uniword)
bow_df

,alex,always,anyone,around,beautiful,birthday,bluetoothhdset,bored,breath,call,...,thing,things,time,today,wan,well,whole,working,would,xx
0,0,1,2,2,2,0,0,0,1,0,...,1,1,2,0,0,0,1,0,3,0
1,0,0,0,0,0,0,1,0,0,2,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1,0,0,...,0,1,0,1,1,1,0,1,0,1
3,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [43]:
tfidfV = TfidfVectorizer()

In [44]:
tf_idf = tfidfV.fit_transform(word_list)

In [45]:
tf_idf

<4x83 sparse matrix of type '<class 'numpy.float64'>'
	with 85 stored elements in Compressed Sparse Row format>

In [46]:
uniqword = tfidfV.get_feature_names()

In [47]:
tfidf_df = pd.DataFrame(tf_idf.toarray(),columns=uniqword)
tfidf_df

,alex,always,anyone,around,beautiful,birthday,bluetoothhdset,bored,breath,call,...,thing,things,time,today,wan,well,whole,working,would,xx
0,0.000000,0.099199,0.198398,0.198398,0.198398,0.000000,0.000000,0.000000,0.099199,0.000000,...,0.099199,0.078210,0.198398,0.000000,0.000000,0.000000,0.099199,0.000000,0.297597,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.238404,0.000000,0.000000,0.476808,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.234126,0.000000,0.000000,...,0.000000,0.184588,0.000000,0.234126,0.234126,0.234126,0.000000,0.234126,0.000000,0.234126
3,0.333333,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [49]:
from sklearn.naive_bayes import MultinomialNB, GaussianNB, BernoulliNB

In [48]:
# Final Process

In [50]:
word_list = []
for _,m in df.iterrows():
    word_list.append(process_text(m['text']))

tfidfV = TfidfVectorizer()
tf_idf = tfidfV.fit_transform(word_list)
uniqword = tfidfV.get_feature_names()
x = pd.DataFrame(tf_idf.toarray(),columns=uniqword)
y = df['type']

model_mnb = MultinomialNB().fit(x,y)
model_gnb = GaussianNB().fit(x,y)
model_bnb = BernoulliNB().fit(x,y)

print('Multinomial:',round(model_mnb.score(x,y)*100,2))
print('Gaussain:',round(model_gnb.score(x,y)*100,2))
print('Bernoulli:',round(model_bnb.score(x,y)*100,2))

Multinomial: 97.93
Gaussain: 92.98
Bernoulli: 98.4