In [1]:
!pip install requests
!pip install bs4

Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.21.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2020.6.20)
Requirement already satisfied: idna<2.9,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.8)
Requirement already satisfied: bs4 in c:\programdata\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4) (4.9.1)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.0.1)

In [2]:
import requests
from bs4 import BeautifulSoup

In [3]:
import pandas as pd

In [4]:
url = 'https://pythonhow.com/example.html'

In [7]:
header = {
    'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/93.0.4577.63 Safari/537.36'
}

In [13]:
r = requests.get(url, headers=header)

In [14]:
r.status_code

200

In [15]:
print(r.text)

<!DOCTYPE html>
<html>
<head>
<style>
div.cities {
    background-color:black;
    color:white;
    margin:20px;
    padding:20px;
}
</style>
</head>
<body>
<h1 align="center"> Here are three big cities </h1>
<div class="cities">
<h2>London</h2>
<p>London is the capital of England and it's been a British settlement since 2000 years ago. </p>
</div>
<div class="cities">
<h2>Paris</h2>
<p>Paris is the capital city of France. It was declared capital since 508.</p>
</div>
<div class="cities">
<h2>Tokyo</h2>
<p>Tokyo is the capital of Japan and one of the most populated cities in the world.</p>
</div>
</body>
</html>

In [16]:
soup = BeautifulSoup(r.text, 'html.parser')

In [17]:
soup

<!DOCTYPE html>

<html>
<head>
<style>
div.cities {
    background-color:black;
    color:white;
    margin:20px;
    padding:20px;
}
</style>
</head>
<body>
<h1 align="center"> Here are three big cities </h1>
<div class="cities">
<h2>London</h2>
<p>London is the capital of England and it's been a British settlement since 2000 years ago. </p>
</div>
<div class="cities">
<h2>Paris</h2>
<p>Paris is the capital city of France. It was declared capital since 508.</p>
</div>
<div class="cities">
<h2>Tokyo</h2>
<p>Tokyo is the capital of Japan and one of the most populated cities in the world.</p>
</div>
</body>
</html>

In [18]:
soup.find_all('h2')

In [22]:
cities = [i.text for i in soup.find_all('h2')]
cities

['London', 'Paris', 'Tokyo']

In [19]:
soup.find_all('p')

[<p>London is the capital of England and it's been a British settlement since 2000 years ago. </p>,
 <p>Paris is the capital city of France. It was declared capital since 508.</p>,
 <p>Tokyo is the capital of Japan and one of the most populated cities in the world.</p>]

In [23]:
desc = [i.text for i in soup.find_all('p')]
desc

["London is the capital of England and it's been a British settlement since 2000 years ago. ",
 'Paris is the capital city of France. It was declared capital since 508.',
 'Tokyo is the capital of Japan and one of the most populated cities in the world.']

In [24]:
df = pd.DataFrame({'City':cities, 'Description':desc})

In [25]:
df

     City                                        Description
0  London  London is the capital of England and it's been...
1   Paris  Paris is the capital city of France. It was de...
2   Tokyo  Tokyo is the capital of Japan and one of the m...

In [27]:
furl = 'https://www.flipkart.com/search?q={}&page={}'
product = 'iphone'
titles = []
prices = []
for i in range(1,6):
    r = requests.get(furl.format(product,i), headers=header)
    if r.status_code == 200:
        soup = BeautifulSoup(r.text, 'html.parser')
        titles += [i.text for i in soup.find_all('div', {'class':'_4rR01T'})]
        prices += [i.text for i in soup.find_all('div', {'class':'_30jeq3 _1_WHN1'})]
iphones = pd.DataFrame({'Title':titles, 'Price':prices})

In [28]:
iphones

                                                 Title    Price
0                      APPLE iPhone 12 (White, 128 GB)  ₹71,999
1                      APPLE iPhone SE (White, 128 GB)  ₹34,999
2                      APPLE iPhone SE (Black, 128 GB)  ₹34,999
3    Apple iPhone XR ((PRODUCT)RED, 64 GB) (Include...  ₹42,999
4                        APPLE iPhone 12 (Red, 128 GB)  ₹71,999
..                                                 ...      ...
115  Apple iPhone XR (Blue, 64 GB) (Includes EarPod...  ₹42,999
116  Apple iPhone XR (Blue, 128 GB) (Includes EarPo...  ₹47,999
117                      APPLE iPhone XR (Blue, 64 GB)  ₹42,999
118                    APPLE iPhone 12 (Purple, 64 GB)  ₹66,999
119                APPLE iPhone 12 Mini (Blue, 256 GB)  ₹74,999

[120 rows x 2 columns]

In [29]:
24*5

120